nav{
    text-align:center;
}

h2{
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 20px; 
    color: #000000db;
    border: 1px solid hsl(0, 0%, 0%);
    padding: 0px;
    border-radius: 30px;
    width: 60%;
    margin: auto auto 30px 80px;
    text-shadow: 2px 2px 4px #243cc3;

}

footer {
    text-align: center;
    background-color: #000000;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 5px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 30px 30px 30px 30px;
    margin:0 10px;
}


.Connexion{
    text-align: center;
    margin: 20px auto;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #000000;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid hsl(0, 0%, 0%);
    height: 400px;
    width: 400px;
}

#email, #password{
    padding: 10px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 30px;
    background-color: #b5b5b5;
    width: 300px;
}
#submit{
    padding: 10px 100px;
    border: none;
    border-radius: 30px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    cursor: pointer;
    float: center;
    margin: 20px auto;
}

#submit:hover{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid hsl(0, 0%, 0%);
    transition: 0.5s;
}

@media only screen and (max-width: 400px) {
    .Connexion {
        width: 90%;
        height: auto;

    }
    #email, #password, #submit {
        width: 200px;
        padding: 10px;
        border: 1px solid hsl(0, 0%, 0%);
        margin : auto;
        
    }
}